Car Acceptability Classification Database was derived from a simple hierarchical decision model originally developed for the demonstration of DEX, M. Bohanec, V. Rajkovic: Expert system for decision making. Sistemica 1(1), pp. 145-157, 1990.). The model evaluates cars according to the following concept structure:

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
df = pd.read_csv('car.csv')

In [4]:
df.sample(10)

,Buying_Price,Maintenance_Price,No_of_Doors,Person_Capacity,Size_of_Luggage,Safety,Car_Acceptability
9,vhigh,vhigh,2,4,small,low,unacc
63,vhigh,vhigh,4,4,small,low,unacc
1160,med,med,4,more,big,high,vgood
86,vhigh,vhigh,5more,2,med,high,unacc
1502,low,high,5more,4,big,high,vgood
305,vhigh,med,5more,2,big,high,unacc
1167,med,med,5more,2,big,low,unacc
1222,med,low,3,2,big,med,unacc
1146,med,med,4,4,med,low,unacc
794,high,low,3,4,small,high,acc

Buying_Price       - Categorical Data [vhigh, high, med, low]
Maintenance_Price  - Categorical Data [vhigh, high, med, low]
No_of_Doors        - Categorical Data [2, 3, 4, 5more]
Person_Capacity    - Categorical Data [2, 4, more]
Size_of_Luggage    - Categorical Data [small, med, big]
Safety             - Categorical Data [low, med, high]
Car_Acceptability  - Categorical Data [unacc, acc, good, vgood]

In [5]:
df.isnull().sum()

Buying_Price         0
Maintenance_Price    0
No_of_Doors          0
Person_Capacity      0
Size_of_Luggage      0
Safety               0
Car_Acceptability    0
dtype: int64

In [6]:
df.shape

(1728, 7)

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1728 entries, 0 to 1727
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Buying_Price       1728 non-null   object
 1   Maintenance_Price  1728 non-null   object
 2   No_of_Doors        1728 non-null   object
 3   Person_Capacity    1728 non-null   object
 4   Size_of_Luggage    1728 non-null   object
 5   Safety             1728 non-null   object
 6   Car_Acceptability  1728 non-null   object
dtypes: object(7)
memory usage: 94.6+ KB

In [8]:
df.columns

Index(['Buying_Price', 'Maintenance_Price', 'No_of_Doors', 'Person_Capacity',
       'Size_of_Luggage', 'Safety', 'Car_Acceptability'],
      dtype='object')

In [9]:
df.corr

<bound method DataFrame.corr of      Buying_Price Maintenance_Price No_of_Doors Person_Capacity  \
0           vhigh             vhigh           2               2
1           vhigh             vhigh           2               2
2           vhigh             vhigh           2               2
3           vhigh             vhigh           2               2
4           vhigh             vhigh           2               2
...           ...               ...         ...             ...
1723          low               low       5more            more
1724          low               low       5more            more
1725          low               low       5more            more
1726          low               low       5more            more
1727          low               low       5more            more

     Size_of_Luggage Safety Car_Acceptability
0              small    low             unacc
1              small    med             unacc
2              small   high             unacc
3                med    low             unacc
4                med    med             unacc
...              ...    ...               ...
1723             med    med              good
1724             med   high             vgood
1725             big    low             unacc
1726             big    med              good
1727             big   high             vgood

[1728 rows x 7 columns]>

In [22]:
s = pd.DataFrame(df.Maintenance_Price.value_counts())

In [23]:
s

       Maintenance_Price
vhigh                432
high                 432
med                  432
low                  432